@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import 'variables';


body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: lightblue;
  font-size: 10px;
}